header {
    background-color: #4169e1;
    color: #fff;
    text-align: center;
    padding: .5rem;
    margin: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

#filter {
    display: flex;
    flex-direction: row;
    align-self: start;
}

.th-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#column-code {
    width: 10%;
}

#column-name {
    width: 20%;
}

#column-description {
    width: 45%;
}

#column-observation {
    width: 15%;
}

#column-image {
    width: 10%;
}

.btn-search-code,
.btn-close-code,
.btn-search-name,
.btn-close-name,
.btn-search-description,
.btn-close-description,
.btn-search-observation,
.btn-close-observation {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-code,
.search-name,
.search-description,
.search-observation {
    width: 100%;
    display: none;
}

.close {
    margin-right: 3px;
}

.filter-code,
.filter-name,
.filter-description,
.filter-observation {
    padding: .5rem .25rem;
    margin-left: 3px;
    width: calc(100% - 40px);
}


#table {
    width: 100%;
    height: 100%;
    margin: 0 1px 1rem;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.header {
    position: sticky;
    top: -1px;
}

th {
    background-color: #4169e1;
    color: #fff;
    padding: .5rem 0;
}

td {
    padding: 1rem;
}


tbody tr:hover {
    background-color: rgb(175, 219, 236);
}

.odd-row {
    background-color: #eee;
}

img {
    width: 100%;
}


tbody tr img:hover {
    cursor: pointer;
}


a{
    color: #000;
}

a:visited{
    color: #000;
}

.panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enlarged-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    z-index: 2;
    background-color: #bbb;
    cursor: auto;
    border: 1px solid #000;
}

.enlarged-image img {
    width: 400px;
    height: 400px;
}

.enlarged-image button {
    padding: 5px;
    margin-top: 5px;
}

.close-image {
    cursor: pointer;
}

footer {
    background-color: #4169e1;
    color: #fff;
    text-align: center;
    padding: .5rem;
    margin: 0 1rem;
}